*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
@import 'react-tabs/style/react-tabs.scss';
/* Colored Scroll Bar CSS */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background:#00ffb7;
    border-radius: 1px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background:#77ffd9;
}


body {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  background: rgb(22, 28, 48);
  /* background-image: radial-gradient(#dd00ff85 5%, transparent 10%),radial-gradient(#00b3ff3a 10%, transparent 5%); */
  color: rgba(255, 255, 255, 1);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  font-size: 110%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  color: rgb(255, 255, 255);
}

h1 {
padding-bottom: 10px;
}

.nav-bar {
  position: absolute;
  width: 90%;
  top: 10px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  animation: float 1.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
}
.nav-items {
  width: 25%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between
}
.nav-item {
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.627);
  cursor: pointer;
  animation: float 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
} 

.nav-item:hover{
  transition: 0.1s;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
  color:rgb(255, 164, 60);
  transform: translateY(-1px);
  /* text-shadow: 0 0 100px rgb(246, 255, 175); */
  z-index: 999;
}

.nav-connect-button{
  animation: float 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  border: solid white 1px;
  padding: 20px 30px;
  font-weight: 600;
  border-radius: 4px;
  background-color: rgba(34, 34, 34, 0.466) ;
}
.nav-connect-button:hover{
  color: #53ffce;
  transition:0.2s;
  border: solid 1px #53ffce;
  box-shadow: #53ffce 5px 5px;
  cursor: pointer;
  }
  

/* SOCIAL MEDIA STRIPS */
.social-media-strip {
  position: fixed;
  bottom: 10px;
  left: 60px;
}

.nav-icons::after {
  animation: float 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.496);
}


.nav-icons {
  display: flex;
  flex-direction: column;
}

.nav-icon-container{
  margin: 5px;
}

.nav-icon-container{
  border: 1px solid white;
  width: 35px;
  height: 35px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 2s ease-out;
  opacity: 0.8;
  margin: 15px 0;
}
.nav-icon-container:hover{
  transform: rotate(360deg);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor:pointer;
  background-color: #222;
  opacity: 1;
}

.nav-icon{
  font-size: 18px;
  transition: 0.5s ease-out;
}

.nav-icon:hover{
  font-size: 25px;
  transition: 0.2s ease-out;
}

/* INSTAGRAM */
.nav-icons div:nth-child(1) {
  animation: float 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
}
.nav-icons div:nth-child(1):hover{
  color:#ff7c44;
  border-color: #ff7c44;
  box-shadow:#ff7c44 3px 3px 10000px;
}

/* LinkedIn */
.nav-icons div:nth-child(2) {
  animation: float 4s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
}
.nav-icons div:nth-child(2):hover {
  color:#91eeff;
  border-color: #91eeff;
  box-shadow:#91eeff 3px 3px 1000px;
}
/* GitHub */
.nav-icons div:nth-child(3) {
  animation: float 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
}
.nav-icons div:nth-child(3):hover {
  color:#64EE85;
  border-color: #64EE85;
  box-shadow:#64EE85 3px 3px 1000px;
}

/* Youtube */
.nav-icons div:nth-child(4) {
  animation: float 6s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
}
.nav-icons div:nth-child(4):hover {
  color:#f01d1d;
  border-color: #f74343;
  box-shadow:#f01d1d 3px 3px 1000px;
}

/* ========================================================================= */
.special-text {
  color: #acf2ff;
}

section{
  margin-bottom: 100px;
  /* background-color: rgba(8, 28, 43, 0.373); */
  padding: 40px;
  /* border: solid rgba(255, 255, 255, 0.36) ; */
  border-radius: 8px;
}
.section-title::after ,.section-title::before{
animation: float 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
content: "";
display: block;
width: 300px;
height: 0.5px;
margin: 0 20px;
background-color: rgba(255, 255, 255, 0.257);
}

.section-title {
  display: flex;
  text-align: center;
  justify-content: left;
  align-items: center;
  color: #53ffce;
  font-size: 22px;
  font-weight:normal;
  margin: 50px;
}

/* HERO SECTION */
.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section .hero-header {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);    
    display: flex;
    flex-direction: column;
 }
 .hero-header div {
  animation: float 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
 }
.hero-section .hero-header .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
}

.hero-section .hero-header .title .block {
    width: 0%;
    height: inherit;
    background: #ffa947;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    display: flex;
}

/* Animations taken from CodePen*/
.hero-section .hero-header .title h1 {
        color: #fff;
        font-size: 32px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;
}
.hero-section .hero-header .title h1 span {
          width:0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: #ff10eb;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;

}

.hero-section .hero-header .wordCarousel .block {
  width: 0%;
  height: 20px;
  background: #1e8ee9;
  position: absolute;
  animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 1s;
  display: flex;
  z-index: 2;
}


@keyframes mainBlock {
  0% {
    width: 0%;
    background: #b656e9;
    left: 0;

  }
  50% {
    width: 100%;
    background: #2490ef;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    background: #ff7c44;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #b656e9;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #8a057f;
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: #9bebff;
    border: 0px solid #222;
    bottom: 13px;

  }
}


/* Job Roles Rotation In Hero Section, Inspired by CodePen https://codepen.io/EricPorter/pen/JjPmOOb */
.wordCarousel {
  font-weight: 100;
}

.wordCarousel div {
  left: -10px;
  overflow: hidden;
  position: relative;
  float: left;
  height: 65px;
  padding-top: 5px;
  margin-top: -10px;

}

.wordCarousel div li {
  color: rgb(255, 209, 157);
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.flip4 { 
  animation: wait3s 3s forwards, mainFadeIn 2s forwards, flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; 
  animation-delay: 0s, 2s, 4s;
}

@keyframes wait3s {
  0% {
    opacity: 0;
  }
  100%
  {opacity: 0;}
}


@keyframes flip4 {
  0% { margin-top: -360px; }
  5% { margin-top: -270px;}
  25% { margin-top: -270px; }
  30% { margin-top: -180px; }
  50% { margin-top: -180px; }
  55% { margin-top: -90px; }
  75% { margin-top: -90px; }
  80% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

.floating-icon-container{
  border: 1px solid white;
  width: 80px;
  height: 80px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 2s ease-out;
}
.floating-icon-container:hover{
  transform: rotate(360deg);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor:pointer;
  filter: blur(0);
}
/* Floating Icons Section */
.floating-icon{
  background-color: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%)    ;
  font-size: 34px;
  transition: 0.5s ease-out;
}
.floating-icon:hover{
  font-size: 46px;
  transition: 0.2s ease-out;
}
/* INSTAGRAM */
.floating-icons div:nth-child(1) {
  position: absolute;
  right: 40%;
  top: 100px;
  animation: float 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
}
.floating-icons div:nth-child(1):hover{
  transition: 0.6s;
  background: linear-gradient( #FF9901 5%, #E57754 35.46%, #E42A01 97.05%);
  border-color: #ff7c44;
  box-shadow:#ff7c44 3px 3px 10000px;
}

/* LinkedIn */
.floating-icons div:nth-child(2) {
  position: absolute;
  right: 30%;
  top: 650px;
  animation: float 4s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
}
.floating-icons div:nth-child(2):hover {
  transition: 0.6s;
  background: linear-gradient( #7bb0ff8e 0.5%, #8c96f2af 35.46%, #d192f8c3 97.05%);
  background-color: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%)    ;
  border-color: #eacbff;
  box-shadow:#ecc3ff 3px 3px 1000px;
}
/* GitHub */
.floating-icons div:nth-child(3) {
  position: absolute;
  right: 20%;
  top: 400px;
  animation: float 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
}
.floating-icons div:nth-child(3):hover {
  transition: 0.6s;
  background: linear-gradient( #fbff01cc 5%, #E5C554 35.46%, #E48901 97.05%);
  border-color: #fff478;
  color: white;
  box-shadow:#fbff82 3px 3px 1000px;
}
/* Youtube */
.floating-icons div:nth-child(4) {
  position: absolute;
  right: 10%;
  top: 200px;
  animation: float 6s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
}
.floating-icons div:nth-child(4):hover {
  color:#f01d1d;
  border-color: #f74343;
  box-shadow:#f01d1d 3px 3px 1000px;
}


@keyframes float {
  0%{
    transform: scale(0) translateY(0) rotate(0) ;
    opacity: 0;
  }
  100%{
    transform: scale(1) translateY(-180) rotate(360deg);
    opacity: 1;
  }
}

.logo {
  display: flex;
  padding: 10px 10px;
  text-align: center;
}
.logo h1 {
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

.nav-center{
  z-index: 4;
  display: flex;
  margin: auto;
}

.nav-center .menu {
  display: flex;
}

.nav-center li{
  list-style-type: none;
  padding: 20px 30px;
  margin-left: 10px;
}

.nav-center li:hover{
  color:aquamarine;
  box-shadow: white 5px 5px;
}

.home-left {    
  margin: auto;
  display: flex;
  flex-direction: column;
  width:50%;
  height: 100%;
  padding: 30px 30px;
  margin-bottom: 50px;
}

.home-left .home-header-container{
  color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  padding:20px;
  margin: 0;
}

.home-left .cta{
  display: flex;
  width: 80%;
  padding:30px;
  margin: auto;
}

.home .cta .image-box {
  display: flex;
  width: 125px;
  height: 125px;
  padding-right: 30px;
  margin: auto 0;
}
.home-left .cta .description{
  display: flex;
  justify-content: flex-start;
  margin: auto;
  text-align: center;
}
.hero-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 5;
  top: 100px
}

.resume-box{
  margin-right: 20px;
  border: solid rgb(255, 255, 255) 1px;
  border-radius: 8px;
  width: 130px;
  background-color:rgb(0, 15, 20);
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  color: white;
  z-index: 999;
  margin-right: 20px;
}
.resume-box:hover{
transition:0.2s;
color: #ff8432;
border: solid 1px #ff8432;
box-shadow: #ffa365 5px 5px;
cursor: pointer;
}

.contact-box{
  margin-right: 20px;
  border-radius: 8px;
  width: 130px;
  display: flex;
  height: 40px;
  background-color: rgb(255, 98, 0);
  align-items: center;
  justify-content: center;
  margin: 0 0;
  z-index: 999;
}
.contact-box:hover{
transition:0.2s;
border: solid 1px #ff8432;
box-shadow: #ffa365 5px 5px;
cursor: pointer;
}

/* About Section Start */
.about-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}    

.about-image-container {
  width: 270px;
  align-self: center;
  justify-content: center;
  height: 270px;
  border: solid 2px white;
  border-radius: 8px;
  /* background-image: url("images/harold.jpg"); */
  background-size:contain;
  background-position:center;
  box-shadow: 5px 5px rgb(233, 137, 255);
  transform: rotate(-3deg);
  transition: 0.3s;
}

.about-image-container:hover {
  transition: 0.3s;
  box-shadow: 2px 2px rgb(2, 30, 35);
  transform: rotate(3deg);
}

.about-description-and-resume{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items:stretch; */
}
.about-description {
  margin: 20px 0px;
}
.about-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section .about-content {
  display: block;
  align-items: center;  
  justify-content: center;
  width: 70%;
}

.about-content  .image-and-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.tiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.tiles .tile{
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: solid white 1px;
  box-shadow: rgb(255, 136, 0) 5px 5px;
  background: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%)    ;
  margin: 10px 2px;
  width: 120px;
  height: 120px;
  transition: 0.3s;
}

.tiles .tile:hover{
  transition: 0.5s;
  /* transform: scale(1.02); */
  transform: rotate(-2deg);
  box-shadow: rgb(0, 0, 0) 0 0;
  cursor: pointer;

}
.tile p {
  font-size: 10px;
  font-weight: bold;
  align-self:flex-end;
  margin:3px 15px;
}
.tile-image {
  align-self: center;
}

.skill-tiles{
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.skill-icon-container{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  display: flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.skill-icon-container:hover{
  transform:translateY(-4px);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor:pointer;
  filter: blur(0);
}
/* skill Icons Section */
.skill-icon{
  background-color: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%)    ;
  font-size: 34px;
  transition: 0.5s ease-out;
}
.skill-icon:hover{
  font-size: 46px;
  transition: 0.2s ease-out;
}
/* =================== PROJECTS SECTION ================= */
.projects-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.featured-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-direction: column;
  margin-bottom: 100px;
}

.featured-project-container {
  display: flex;
  margin-bottom: 50px;
}

.featured-project-img{
  background: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%)    ;
  height: 360px;
  width: 600px;
  object-fit: fill;
  filter: sepia(60%);
  transition: 0.3s ease-in-out
}

.featured-project-img:hover{
  filter: none;
  transition: 0.2s ease;
  cursor: pointer;
  transform: scale(1.03);
}

.featured-project-infos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end ;
  width: 60%;
  z-index: 999;
}
.featured-project-tags{
}

.featured-project-title{
  font-size: 18px;
  font-weight: bold;
}

.featured-project-description-container{
  border-radius: 8px;
  height: 40%;
  width: 120%;
  display: flex;
  justify-content: flex-end;
  /* border: solid 1px white; */
  background: linear-gradient(49.21deg, rgb(97, 97, 162) 20%, rgba(112, 142, 196, 0.5) 58.46%, rgba(95, 153, 149, 0.5) 97.05%)    ;
  z-index: 9999;
}
.featured-project-description{
  display: flex;
  justify-self: flex-end;
  margin: 20px;
  width: 65%;
}
.featured-project-buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.featured-project-buttons div{
  border: solid 1px white;
  width: 45%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  border-radius: 8px;
}

.featured-project-buttons div:hover{
  color: #91eeff;
  border-color: #91eeff;
  transition: 0.2s;
  cursor: pointer;
}

.small-projects{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

.small-project-container{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 360px;
  height: 450px;
  border: solid 1px rgba(255, 255, 255, 0.479);
  border-radius: 4px;
  margin: 10px;
  background: linear-gradient(49.21deg, rgba(127, 127, 213, 0.103) 19.87%, rgba(134, 168, 231, 0.144) 58.46%, rgba(145, 234, 228, 0.123) 97.05%)    ;
}

.small-project-container:hover {
  box-shadow: 10px 10px orange;
  transform: translateY(-5px);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.small-project-img-container {
  border-radius: 4px;
  margin: 10px;
  transition: 0.1s;
  width: 90%;
  height: 50%;
  border: solid 1px white;
}
.small-project-img-container:hover {
  transition: 0.2s ease-in;
}
.small-project-container:hover .small-project-img{
  filter: none;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.small-project-img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.smalll-project-infos{
  width: 90%;
  align-self: center;
  justify-self: center;
  height: 30%;
}
.small-project-title{
  font-weight: 500;
  font-size: 22px;
  margin: 5px 0px;
  display: flex;
  align-self: baseline;
}
.small-project-description{
  color: rgb(172, 172, 172);
}

.small-project-buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.small-project-buttons div{
  border: solid 1px white;
  width: 45%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  border-radius: 8px;
}

.small-project-buttons div:hover{
  color: #91eeff;
  border-color: #91eeff;
  transition: 0.2s;
  cursor: pointer;
}

/* =============== EXPERIENC SECTION ============*/
.work-history {
  display: flex;
}

.experience-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-history-container {
  border: solid rgba(255, 255, 255, 0.404) 0.5px;
  width: 60%;
  box-shadow:#ff8432 5px 5px;
}
.window-top-bar {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.842);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color:#16212b;
  border: solid 0.5px rgba(255, 255, 255, 0.479);
}
.window-buttons {
  display: flex;
}
.window-button{
  width: 10px;
  height: 10px;
  margin: 3px;
  border-radius: 50%;
}

.window-buttons div:nth-child(1){
  background-color: rgba(230, 68, 68, 0.877);
}
.window-buttons div:nth-child(2){
  background-color: #4defc1c0;
}
.window-buttons div:nth-child(3){
  background-color: rgb(253, 222, 99);
}

.window-button:hover{
  transform: scale(1.3);
}
/* RC TABS START */
.rc-tabs {
  // background: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%) !important;
  background: linear-gradient(49.21deg, rgba(138, 138, 232, 0.137) 19.87%, rgba(134, 168, 231, 0.12) 58.46%, rgba(145, 234, 228, 0.147) 97.05%) !important; 
  // border: none !important;
  border: solid rgba(255, 255, 255, 0.575) 0.5px !important;
}
.rc-tabs-tab {
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // background: linear-gradient(49.21deg, rgba(138, 138, 232, 0.137) 19.87%, rgba(134, 168, 231, 0.12) 58.46%, rgba(145, 234, 228, 0.147) 97.05%) !important
  background: rgba(0, 48, 38, 0.212) !important;
}

.rc-tabs-tab .rc-tabs-tab-btn {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.678);
  transition: 0.1s ease-in;
}

.rc-tabs-tab:hover{
  color:#53ffce !important;
  background:#1e3e4a !important;
  text-shadow: white 3px 3px 100px;
}
.rc-tabs-tab:hover .rc-tabs-tab-btn{ 
  color:#53ffce !important;
  transition: 0.2s ease-in-out;
  color:#53ffce !important;
  transform: translateY(-2px);
}

.rc-tabs-tab-active {
  background:#142637aa !important;
}
.rc-tabs-tab-active .rc-tabs-tab-btn{
  color: #00ffb7 !important;
  font-weight: bolder !important;
  transition: 0.2s ease-in-out;
}

.rc-tabs-ink-bar {
  background:#53ffce !important
}
.rc-tabs-content-holder {
  padding: 20px;
  border-left: solid rgba(255, 255, 255, 0.332) 0.5px !important;

}
.rc-tabs-content {
  font-size: 18px
}

/* RC TABS STOP */


// ==================================================================
$midnight: #2c3e50;
$clouds: #ecf0f1;
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.row {
  display:flex;
  width: 70%;
  .col {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: linear-gradient(49.21deg, rgba(127, 127, 213, 0.2) 19.87%, rgba(134, 168, 231, 0.2) 58.46%, rgba(145, 234, 228, 0.2) 97.05%)    ;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
      color:#53ffce;
      transition: 0.2s ease-in-out;
      transform: translateY(-2px);
      text-shadow: white 3px 3px 100px;
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: white;
    background:$midnight;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    background-color: $midnight;
    max-height: 300vh;
    padding: 20px;
    text-align: center;
  }
}


/* =================== CONTACT SECTION ================= */
.contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 200px;
}

.contact-section div {
  margin: 10px;
  display: flex;
}

.contact-description {
  color: rgba(255, 255, 255, 0.616);
  margin: 50px;
  width: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer{
  border-top: solid rgba(255, 255, 255, 0.558) 1px;
  color: rgba(255, 245, 227, 0.634);
  font-size: 12px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 30px;
}